<nav class="navbar navbar-dark bg-black bg-body-tertiary sticky-top">
  <div class="container-fluid m-3">

    <a class="navbar-brand" href="#">ANGULARTODO.IO <span class="badge bg-light text-black">BETA</span></a>

    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
      aria-controls="offcanvasDarkNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="offcanvas offcanvas-end text-bg-dark bg-custom" tabindex="-1" id="offcanvasDarkNavbar"
      aria-labelledby="offcanvasDarkNavbarLabel">

      <div class="offcanvas-header m-3">
        <h5 class="offcanvas-title display-5" id="offcanvasDarkNavbarLabel">
          Account
        </h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>

      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 m-3">

          <li class="mb-4">
            <div class="d-flex justify-content-between">
              <small>XP: 0 Points</small>
              <small>Lvl: 0</small>
            </div>
          </li>

          <li class="nav-item mb-3">
            <a class="nav-link active btn btn-outline-dark" aria-current="page" href="#">Home</a>
          </li>
          <!--
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Feature
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          -->
        </ul>
      </div>

    </div>
  </div>
</nav>
